html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.container-navbar {
    align-items: stretch;
    height: auto;
    background-color: lightblue;
}
    
.navbar {
    list-style-type: none;
    display:flex;
    flex: 1;
    justify-content: space-between;
    padding:0;
    margin:0;
}

.navbar li {
    border: 5px solid salmon;  
    padding: 0; 
    text-align: center;
    flex:1;
}

.spacer {
    flex-grow: 1;
    border: none;
}

.navbar li a {
    display: block;
    padding: 10px; 
    text-decoration: none;
}

.main-content-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex:1;
}

.content-container {
    display: flex;
    justify-content: center;
    flex:1;

}

.left-container {
    display: flex;
    flex-direction: column;
    flex: .8;
    background-color: lightblue;
    border: 5px solid salmon;
    margin-right: 5px;
}

.article-container {
    display:flex;
    flex-direction: column;
    flex: 1;
}

.article {
    height: 100%;
    background-color: lightblue;
    border: 5px solid salmon;
    flex:1;
}

.right-container {
    display: flex;
    flex: .2;
    background-color: lightblue;
    border: 5px solid salmon;
}
