html, body {
    height: 100%;
    margin:0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}

.title-logo-container {
    display: flex;
    align-items: center;
}


.container {
    font-family: Verdana, Geneva, sans-seriff;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.container-navbar {
    align-items: stretch;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0px 5px 15px black;

}
    
.navbar {
    /*background-image: url(texture_red.png);*/
    background-color: #e9252f;
    list-style-type: none;
    display:flex;
    flex: 1;
    justify-content: space-between;
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, sans-seriff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-width: 2px;
    border-bottom-color: transparent;
    border-top-style: solid;
    border-top-color: transparent;
}

.navbar li {  
    padding: 0; 
    text-align: center;
    flex:1;
}

.navbar li a {
    text-decoration: none;
    display: block;
    color: white;
    text-shadow: 2px 2px black
}

.navbar a:hover {
    transform:scale(1.1);
    /*background-image: url(texture.png);*/
    background-color: #474afb;
    color: white;
    box-shadow: 0px 5px 15px grey;
    text-shadow: 2px 2px black;
}

.spacer {
    flex-grow: 1;
    border: none;
}

.navbar li a {
    display: block;
    padding: 10px; 
    text-decoration: none;
}

.main-content-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex:1;
    margin-top: 2%;
    margin-bottom: 2%;
    /*min-height: auto;*/
}

.slide-show {
    min-height: 300px;
}

.content-container {
    display: flex;
    justify-content: center;
    flex:1;

}

.slide-show img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex: .8;
    align-items: center;
    margin-right: 2%;
}


.picture-container {
    display: flex;
    flex: 0.4;
    margin-right: 2%;
}

.picture-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-container {
    display:flex;
    background-color: white;
    flex: .6;
    box-shadow: 0px 5px 15px black;
    margin: 15px;
    
}

.right-container .article-container {
    flex: .1;
}

.right-container .heading {
    box-shadow: 0px 5px 15px black;
}

.right-container .article-container .heading {
    flex: 1;
    text-align: left;
}

.right-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-container .heading {
    text-align: center;
    
}



.article-container.odd:hover {
    transform: translate(10px, -10px) scale(1.01);
    box-shadow: 5px 5px 1px #e9252f;
}

.article-container.even:hover {
    box-shadow: 5px 5px 1px #474afb;
    transform: translate(10px, -10px) scale(1.01);
}

.article {
    height: 100%;
    flex:1;
    margin-bottom: 2%;
    margin-right: 2%;
    /*box-shadow: 0px 10px 10px grey;*/
    /*margin-top: 2%;*/
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: .2;
}

.right-item {
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px black;
}

footer {
    text-align: center;
    background-color: blue;
}