html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    font-family: Verdana, Geneva, sans-seriff;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}

.container-navbar {
    align-items: stretch;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0px 5px 15px black;
}
    
.navbar {
    list-style-type: none;
    display:flex;
    flex: 1;
    justify-content: space-between;
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, sans-seriff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-width: 2px;
    border-bottom-color: transparent;
    border-top-style: solid;
    border-top-color: transparent;
    text-shadow: 2px 1px 0px rgba(255,255,255,1);
}

.navbar li {  
    padding: 0; 
    text-align: center;
    flex:1;
}

.navbar li a {
    text-decoration: none;
    display: block;
    color: black;
}

.navbar a:hover {
    background: rgba(235, 39, 53,   1);
    color: white;
    box-shadow: 0px 5px 15px grey;
    text-shadow: 2px 2px black;
}

.spacer {
    flex-grow: 1;
    border: none;
}

.navbar li a {
    display: block;
    padding: 10px; 
    text-decoration: none;
}

.main-content-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex:1;
    margin-top: 2%;
    margin-bottom: 2%;
}

.content-container {
    display: flex;
    justify-content: center;
    flex:1;

}

.left-container {
    display: flex;
    flex-direction: column;
    flex: .8;
    margin-right: 5px;
    box-shadow: 0px 5px 15px black;
    margin-right: 2%;
}



.article-container {
    display:flex;
    flex-direction: column;
    flex: 1;
    
}

.article {
    height: 100%;
    flex:1;
    box-shadow: 0px 10px 10px grey;
    margin-top: 2%;
}

.article.odd:hover {
    box-shadow: 5px 5px 1px rgba(235, 39, 53,   1);
}

.article.even:hover {
    box-shadow: 5px 5px 1px rgba(72, 73, 252,   1);
}

.right-container {
    display: flex;
    flex: .2;
    box-shadow: 0px 5px 15px black;
}
