@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../img/background-img-temp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;

}

footer{
  text-align: center;
  font-weight: 900;
  color:#F5E4C1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
